<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu TP1</title>
</head>
<body>
  <h1>Menu TP1</h1>
 <ul>
   <li><a href="/potencia?num=5">Potencia</a></li>
   <li><a href="/anioBisiesto?num=2020">¿Año Bisiesto?</a></li>
   <li><a href="/ParImpar?num=2">¿Par O impar?</a></li>
   <li><a href="/mes?num=4">Mes</a></li>
   <li><a href="/mes2?num=8">Mes Switch</a></li>
   <li><a href="/nota?num=8">Nota del Alumno</a></li>
   <li><a href="/secuencia?num=80">Secuencia 1</a></li>
   <li><a href="/secuencia2?num=0">Secuencia 2</a></li>
   <li><a href="/secuencia3?num=320">Secuencia 3</a></li>
   <li><a href="/secuencia4?num=320">Secuencia 4</a></li>
   <li><a href="/secuencia5?num=320">Secuencia 5</a></li>
   <li><a href="/tiempo?num=6">Formula para saber en cuanto tiempo caera un objeto a determinada altura</a></li>
 </ul>
</body>
</html>